.offer {
    padding-top: 88px;
    padding-bottom: 88px;
    &__title {
        font-size: 42px;
        font-weight: 700;
        color: $black;
        line-height: 50px;
        padding-bottom: 32px;
        @media(max-width: $phone) {
            font-size: 32px;
        }
    }
    .tabs__nav {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        flex-wrap: wrap;
        @media(max-width: $tabletlg) {
            row-gap: 20px;
        }
    }
    .tabs__nav-item {
        list-style: none;
        &:not(:last-child) {
            margin-right: 10px;
        }
        .tabs__nav-btn {
            background-color: $gray;
            color: $accent-blue;
            font-size: 20px;
            font-weight: 600;
            border: none;
            padding: 12px 35px;
            border-radius: 25px;
            cursor: pointer;
            transition: 0.3s ease;
            @media(any-hover: hover) {
                &:hover {
                    background-color: $accent-orange;
                }
            }
            &--active {
                background-color: $accent-orange;
            }
        }
    }

    .tabs__panel {
        .offer__col {
            height: 100%;
        }
        .offer__wrapper {
            height: 100% !important;
            margin-bottom: 0;
        }
        .offer-item {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            height: 100%;
            background: #FFFFFF;
            box-shadow: 3px 4px 33px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            &__img {
                position: relative;
                padding-top: 55%;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    object-fit: cover;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            &__body {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            &__content {
                flex: 1 1 auto;
                padding: 0 28px 35px 22px;
            }
            &__title {
                color: $black;
                font-size: 18px;
                line-height: 19px;
                margin-bottom: 17px;
            }
            &__info {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                span {
                    font-size: 12px;
                    line-height: 15px;
                    color: $black;
                    font-weight: 400;
                }
            }
            &__price {
                font-weight: 700;
                font-size: 22px;
                line-height: 27px;
                padding-left: 22px;
                padding-bottom: 35px;
                color: #000000;
            }
        }
    }
}