$fontFamily: 'Inter', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 16px;
    @media(max-width: $xl) {
        font-size: 15px;
    }
    @media(max-width: $tabletlg) {
        font-size: 14px;
    }
    @media(max-width: $tablet) {
        font-size: 12px;
    }
}

img {
    max-width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.801);
    height: 100%;
    line-height: 1.5;
    font-family: $fontFamily;
    
}


