// breakpoints
$phonexs: 467px;
$phone: 576px;
$tablet: 768px;
$tabletlg: 992px;
$xl: 1200px;
$xxl: 1400px;
// breakpoints

// color
$black: #000;
$light: #fff;
$dark-blue: #353D83;
$accent-blue: #212864;
$accent-orange: #FFC239;
$gray: #eee;
// color
